*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  background-color: #C3ECBC;
}

.back-link{
  position: absolute;
  top: 0;
  left: 0.7rem;
  text-decoration: none;
  outline: none;
  border: none;
  padding: .3rem;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  max-width: fit-content;
}

.back-link i{
  margin-right: 0.4rem;
}

.back-link:hover{
  scale: 1.03;
  transition: all;
  transition-duration: 0.3s;
}

section{
  margin-top: 10%;
  margin-bottom: 5%;
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  overflow: hidden;
  background-color: #cc3535;
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem 0.12rem 0.06rem rgba(0, 0, 0, 0.2);
}

.empresa{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #FCFCFD;
  width: 100%;
}

.empresa img{
  margin-top: 30%;
  margin-bottom: 5%;
  border-left: 4px solid #000;
  width: 160px;
}

.empresa p{
  max-width: 80%;
  font-weight: 500;
  margin-top: 3%;
}

.empresa button{
  max-width: fit-content;
  padding: .4rem 1.5rem;
  margin: 0 auto;
  margin-top: 15%;
  font-size: 24px;
  border-radius: 22px;
  border-style: solid;
  cursor: pointer;
}

.empresa button:hover{
  background-color: #bbb2b2;
  transition-duration: .5s;
}

.empresa a{
  margin-top: 5%;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.empresa a:hover{
  transition-duration: .4s;
  font-weight: bolder;
  text-decoration: underline;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  width: 100%;
  background-color: lightgray;
  padding: 2rem;
  margin: 0 auto;
}

.cabecalho{
  display: grid;
  color: #0a0a0a;
  margin: 0 auto;
}

form label{
  margin-top: 1rem;
  font-weight: bold;
}

form input, button, select{
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  font-weight: 600;
  border: none;
}

form i{
  width: 1rem;
}

.input-container{
  display: flex;
  width: 100%;
  max-width: 14rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #FCFCFD;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.12rem 0.06rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: .5rem;
  padding-left: 0.8rem;
  margin-top: 0.6rem;
}

form input, select{
  background: none;
  border: none;
  outline: none;
  text-align: start;
  padding-left: 0.4rem;
}

form button{
  font-size: 1rem;
  color: #FCFCFD;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: #f15048;
  padding: .5rem 1rem;
  margin-top: 1rem;
  box-shadow: 0.2rem 0.2rem 0.12rem 0.06rem rgba(0, 0, 0, 0.2);
}

form button:hover{
  transition-duration: 0.5s; 
  background-color: #cc372f;
  cursor: pointer;
}

.error{
  margin: 0;
  font-size: 12px;
}
