*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #3366CC;
  display: flex;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
  box-shadow: .1rem .0rem .4rem .0rem rgba(0, 0, 0, 0.5);
  min-height: 57.5rem;
  background-color: #FCFCFD;
}

aside img{
  margin-top: 1rem;
}

.menu{
  display: flex;
  flex-direction: column;
  margin: 5rem .2rem;
}

aside button{
  max-width: 100%;
  min-width: 100%;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 2rem;
  padding-left: .5rem;
  background-color: #FCFCFD;
  font-size: 16px;
  margin-top: .7rem;
  border-radius: 5px;
  border: none;
  text-align: left;
}

aside button i{
  padding-right: .3rem;
}

aside button a{
  text-decoration: none;
  color: #000;
}

section {
  width: 100%;
  margin: 2rem 2rem;
  background-color: #FCFCFD;
  box-shadow: .1rem .0rem .4rem .0rem rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.nav-top{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.nav-top input{
  border-radius: 10px;
  padding-left: .5rem;
  font-size: 16px;
  border: 2px solid #3366CC;
  outline: none;
}

.nav-top button{
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  font-size: 26px;
  border-radius: 250px;
  align-items: center;
  text-align: center;
  background-color: #3366CC;
  border: 2px solid #6C63FF;
  cursor: pointer;
}

.active{
  background-color: #3366CC;
  color: #FFF;
}

section .breadcrumb .is-active{
  color: #6C63FF;
  font-weight: bold;
}

section {
  padding: 2rem;
}

section h1{
  font-size: 2rem;
}

.container{
  display: grid; 
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5rem;
}

.container-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 22rem;
  text-align: center;
  margin: auto;
  margin-top: 0rem;
}

.container-flex h2{
  margin-bottom: .7rem;
}

.form-campo{
  margin-bottom: 1rem;
}

.form-campo label{
  font-weight: 400;
  display: block;
  text-align: start;
}

.form-campo input, .form-campo select{
  width: 100%;
  display: block;
  padding: 8px;
}

.form-campo-hips{
  margin-bottom: 1rem;
}

.form-campo-hips label{
  font-weight: 400;
  display: block;
  text-align: start;
}

.form-campo-hips input, .form-campo-hips select{
  width: 100%;
  display: block;
  padding: 8px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

form {
  max-width: 360px;
}

.form-campo input[type=text], .form-campo input[type=date],.form-campo input[type=number], .form-campo select, .form-radio-campo{
  border-radius: .5rem;
  border: 1px solid #CCCCCC;
  box-shadow: .1rem .0rem .4rem .0rem rgba(0, 0, 0, 0.2);
}

.form-campo input::placeholder { 
  color: #d8d8d8; 
}

.form-campo-hips input[type=text], .form-campo-hips input[type=date],.form-campo-hips input[type=number], .form-campo-hips select, .form-radio-campo{
  border-radius: .5rem;
  border: 1px solid #CCCCCC;
  box-shadow: .1rem .0rem .4rem .0rem rgba(0, 0, 0, 0.2);
}

.form-campo-hips input::placeholder { 
  color: #d8d8d8; 
}

.form-campo button{
  width: 100%;
  padding: .3rem 0rem;
  font-size: 16px;
  font-weight: 500;
  color: #FCFCFD;
  background-color: #6C63FF;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

.form-campo button:hover{
  background-color: #5d55ff;
  scale: 1.02;
  transition: all .5s;
  box-shadow: .1rem .0rem .4rem .0rem rgba(0, 0, 0, 0.2);
}

.form-radio-container{
  text-align: left;
  margin-bottom: 1rem;
}

.form-radio-campo{
  padding: .5rem;
}

.request-image img{
  width: 90%;
}

.sub-label{
  font-size: 12px;
}

.hidden{
  display: none;
}
